*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all .3s linear;
}

:root{
    --color-light: #fff;
    --color-pramiry:#2165be;
    --color-dender:rgb(208, 74, 74);
    --header-color:#24618a;
    --footer-color:#031779;
}

html{
    font-size: 62.5%;
}

body{
    background: var(--color-light);
}

.container-max-width{
    max-width: 1080px;
    margin: 0 auto;
}

a, i, span, p{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

.container{
    padding: 2rem 0 0;
    background: #fff;
}

.title .link{
    display: inline-block;
    color: var(--color-pramiry);
    padding: 0 2rem ;
}

.title h1{
    font-size: 2.9rem;
    font-weight: bold;
    color: #000;
    padding: 2rem ;
}

.content h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    padding: 1rem 0;
}

.content h3{
    font-size: 2.1rem;
    font-weight: bold;
    color: #000;
    padding: 1rem 0;
}


.container .content{
    padding: 1rem 2rem;
    background-color: rgb(224, 224, 224);
}

.content p{
    line-height: 1.5;
}

.content .image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.content .node .select:hover{
    color:  rgb(224, 224, 4);
}

.content .desc-center p{
    text-align: center;
}